.gradient-text {
    background: linear-gradient(90deg, #3b82f6, #a855f7, #ca5fa5, #3b82f6);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* body {
    background: #0f172a url('./bg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 200vh;
} */
.marquee-container {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}


/* #hero {
    background-color: hsla(165, 0%, 100%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 962 962' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 0% 0%, hsla(256, 82%, 77%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 20% 0%, hsla(197, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 40% 0%, hsla(147, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 60% 0%, hsla(88, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 80% 0%, hsla(23, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 100% 0%, hsla(234, 100%, 50%, 0.35) 3%, transparent 40%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
} */

#hero {
    background-color: hsla(217, 0%, 100%, 1);
    background-image: radial-gradient(circle at 86% 50%, hsla(280, 0%, 89%, 1) 6.688754566361296%, transparent 44.98438254159411%);
    background-blend-mode: normal;
}


/* Custom scrollbar for the buttons container to match the blue theme */
#buttons-container::-webkit-scrollbar {
    width: 6px;
}

#buttons-container::-webkit-scrollbar-track {
    background: #f0f4f8; 
    border-radius: 4px;
}

#buttons-container::-webkit-scrollbar-thumb {
    background: #598af4; /* Tailwind blue-600 */
    border-radius: 4px;
}

/* Simple fade animations for smooth text swapping */
.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.swiper {
      width: 60%;
      height: 50%;
    }

    /* .swiper-slide {
      background-color: aliceblue;
    } */

   /* .swiper-slide img {
      display: block;
      width: 100%;
    } */